@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 13px;
  background-color: #EDF2F8;
}

.article_preview_component {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  max-width: 731px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card_img {
  min-width: 285px;
  background: url(images/drawers.jpg);
  background-size: 123% 100%;
  border-radius: 10px 0 0 10px;
}

.card .card_content {
  background-color: white;
  padding: 2.53rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  border-radius: 0 10px 10px 0;
  position: relative;
}

.card .card_content h1, .card .card_content h3 {
  font-family: 'Manrope', sans-serif;
  color: #575555;
  font-weight: 700;
}

.card .card_content p, .card .card_content span {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: grey;
}

.card .card_content p {
  line-height: 1.3rem;
}

.card .card_content .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card_content .user .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.card .card_content .user .info img {
  height: 3.07rem;
  width: 3.07rem;
  border-radius: 50%;
  margin-right: 1.61rem;
}

.card .card_content .user .info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card_content .user .share-btn {
  width: 2.30rem;
  height: 2.30rem;
  border-radius: 50%;
  border: none;
  border-collapse: collapse;
}

.card .card_content .user .share-btn i {
  color: #5c738f;
}

.card .card_content .user .share_networks {
  padding: 1.69rem 2.84rem;
  color: white;
  width: 19.07rem;
  height: 4.23rem;
  background-color: #49556B;
  position: absolute;
  border-radius: 1rem;
  top: 43%;
  right: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: none;
}

.card .card_content .user .share_networks .action_info {
  letter-spacing: 4px;
  color: #bebbbb;
}

.card .card_content .user .share_networks:after {
  content: '';
  position: absolute;
  left: 125px;
  top: 60px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #49556B;
  clear: both;
}

@media screen and (max-width: 767px) {
  .card {
    max-width: 326px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card_img {
    height: 15.38rem;
    border-radius: 10px 10px 0 0;
  }
  .card .card_content .user .share_networks {
    top: 70%;
  }
}
/*# sourceMappingURL=style.css.map */